:root {
    --white: #fff;
    --black: #121212;
    --grey-bg: #27272a;
    --grey: #c9c9c9;
    --primary: #8430d5;
    --primary-hover: #6d26af;
}

/* Reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Fim do Reset CSS */

body {
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

/* Auxiliares */
.alinhado-centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alinhado-esquerda {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.alinhamento {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    margin-bottom: 3.75rem;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.item :first-child {
    margin-bottom: 1.375rem;
}

.item {
    margin-bottom: 4.375rem;
}

.titulo {
    margin-top: 5.75rem;
}

.topico {
    font-size: 24px;
    font-weight: 600;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Barra de navegação */
.navbar {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 2rem;
    margin: 1.5rem 0 1.5rem 12.5rem;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
}

.navbar li {
    float: left;
}

.navbar a.active {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar li a {
    display: block;
    color: var(--grey);
    text-align: center;
    text-decoration: none;
    padding-right: 1rem;
}

.logo {
    margin-right:4rem;
    float:left; 
    display: flex;
    align-items: center;
    justify-items: center;
}

.logo a {
    text-decoration: none;
    color: var(--white);
}

/* Categoria de Filmes */

.categorias {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

.categoria {
    flex-direction: column;
    position: relative;
    margin: 4rem;
}

.categoria a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.gradiente {
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(
        to bottom,
        rgba(18, 18, 18, 0.2),
        rgba(18, 18, 18, 0.8)
    );
    transition: 2s ease-in;
}
.gradiente:hover {
    background: linear-gradient(
        to bottom,
        rgba(18, 18, 18, 0.6),
        rgba(18, 18, 18, 0.8)
    );
}
.categoria img {
    width: 20.75rem;
    height: 9.375rem;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    display: block;
}

/* Filmes */

.filmes {
    display: grid;
    grid-template-columns: repeat(5, 13rem);
    gap: 6.875rem;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    margin-bottom: 4rem;
}

.filme img {
    border-radius: 10px;
    width: 12.25rem;
    height: 18.125rem;
    background-color: var(--grey-bg);
    margin-bottom: 1.125rem;
}
.filme img:hover {
    opacity: 0.6;
}

/* Perfil */

.perfil {
    display: grid;
    padding: 0 2rem 0 0;
    grid-template-columns: 12rem 1fr;
    gap: 2rem;
    align-items: center;
    text-align: left;
    max-width: 70%;
    margin: 0 0 2.5rem 0;
}

.perfil img {
    border-radius: 50%;
}

.principal {
    display:flex;
    align-items: center;
    justify-items: center;
    margin-top: 5.75rem;
}

/* Pagina do Filme */

.pagina-filme {
    display: grid;
    padding: 2rem;
    grid-template-columns: 18.75rem 1fr;
    gap: 4rem;
    align-items: center;
    max-width: 100%;
    margin: 4.5rem 12.5rem 2.5rem 12.5rem;
}

.pagina-filme img {
    border-radius: 10px;
    width: 19.375rem;
    height: 26.25rem;
}

.descricao h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.descricao h2 {
    font-weight: 500;
    margin: 1.2rem 0 1rem;
}

.descricao p {
    text-align: justify;
    color: var(--grey);
    line-height: 1.4rem;
}

.descricao span {
    font-size: 18px;
    font-weight: 400;
}

/* Formulario */

.card {
    width: 50%;
    padding: 36px;
    background-color: var(--grey-bg);
    border-radius: 10px;
    margin: 5.75rem auto;
}

.card h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.card a {
    text-align: center;
    text-decoration: none;
    margin: 1rem 2rem;
    color: var(--primary);
}

.form {
    padding: 64px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin-top: 8px;
    margin-bottom: 18px;
    display: block;
    border: 1px solid #121212;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #1c1c1f;
    color: var(--white);
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--primary-hover);
    outline: none;
    box-shadow: 1px 1px var(--primary);
}

input[type="submit"] {
    width: 22%;
    background-color: var(--primary);
    color: white;
    padding: 0.875rem 1.125rem;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type="submit"]:hover {
    background-color: var(--primary-hover);
}

table {
    border: 1px solid var(--grey-bg);
    border-radius: 10px;
    width: 40%;
}

th, td {
    border: 1px solid var(--grey-bg);
    padding: 1.1rem;
    text-align: center;
}

iframe {
    width: 62.5rem;
    height: 37.5rem;
}